Repository codespace-operator/codespace-operator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, npx prettier -w

Notes added by 'git notes add'
  50dfdeef9b4d7e5cc25186cae51cf81c742cff52
Due: none

Notes added by 'git notes add'
  9f4d5f393b2098e73fada54c3c564b8c93aa30a7
Due: none

fix(config)!: LDAP config injection (#55) BREAKING CHANGES: configs for the auth package are now moved under `auth:` and managed as its own package
  README.md
  cfg/auth.yaml
  cfg/server-config.yaml
  cmd/server/main.go
  contrib/manifests/demo-session.yaml
  contrib/manifests/keycloak-values.yaml
  contrib/manifests/kind.yaml
  contrib/manifests/openldap-values.yaml
  contrib/manifests/realm.json
  contrib/scripts/build.sh
  contrib/scripts/config.sh
  contrib/scripts/create-session.sh
  contrib/scripts/deploy-ldap.sh
  contrib/scripts/deploy.sh
  contrib/scripts/kind-network.sh
  contrib/scripts/setup.sh
  contrib/scripts/teardown.sh
  go.mod
  go.sum
  internal/server/auth_handlers.go
  internal/server/config.go
  internal/server/handlers.go
  internal/server/server.go
Due: gofmt -w, npx prettier -w

chore(release): operator 2.0.0 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

Notes added by 'git notes add'
  4ba63198b8f62f486e3e338b3398267f9e52f902
Due: none

chore(deps): remove unused deps and fix make
  Makefile
  go.sum
Due: none

fix(server): separate config files, add tests
  .github/workflows/release-operator.yml
  cfg/server-config.yaml
  cmd/server/main.go
  contrib/scripts/config.sh
  contrib/scripts/deploy.sh
  go.mod
  go.sum
  internal/controller/config.go
  internal/server/auth_handlers.go
  internal/server/config.go
  internal/server/config_test.go
  internal/server/server.go
Due: gofmt -w, npx prettier -w

chore(release): operator 2.0.1 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

Notes added by 'git notes add'
  684d7b5a85ae4ab67f86196a6e454c83b86ab81f
Due: none

fix(server): suppress unwanted logs
  internal/server/helpers.go
  internal/server/server.go
Due: gofmt -w

chore(release): operator 2.0.2 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

Notes added by 'git notes add'
  d1a31e2645a1788d9004cf3ab61a644e1e3054a1
Due: none

chore(repo): test files
  contrib/manifests/openldap-values.yaml
  contrib/scripts/config.sh
  contrib/scripts/deploy-grafana.sh
  contrib/scripts/deploy-ldap.sh
  contrib/scripts/deploy.sh
  contrib/scripts/setup.sh
Due: npx prettier -w

fix(server): namespaces -> namespace, use const
  cfg/rbac-casbin/policy.csv
  internal/server/helpers.go
  internal/server/rbac_handlers.go
  internal/server/sessions_handlers.go
Due: gofmt -w

Notes added by 'git notes add'
  3fb9bfa17f7cf68a511e52cc18e48958a3be23d4
Due: none

chore(release): operator 2.0.3 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

feat(operator): introduce git integration
  api/v1/session_types.go
  api/v1/zz_generated.deepcopy.go
  config/crd/bases/codespace.codespace.dev_sessions.yaml
  go.mod
  go.sum
  internal/controller/config.go
  internal/controller/deployment.go
  internal/controller/profile_store.go
  internal/controller/session_configmap.go
  internal/controller/session_controller.go
Due: gofmt -w, npx prettier -w

chore(repo): template
  .github/PULL_REQUEST_TEMPLATE/pull_request_feature.md
Due: npx prettier -w

feat(operator): configure inits
  internal/controller/config.go
Due: gofmt -w

fix: $HOME resolution
  internal/controller/deployment.go
Due: gofmt -w

feat(server): profile endpoint
  .env.dist
  internal/server/config.go
  internal/server/handlers.go
  internal/server/pgx.go
  internal/server/profile_handlers.go
  internal/server/server.go
Due: gofmt -w

feat(operator): use token for profile comms
  internal/controller/config.go
  internal/controller/profile_store.go
  internal/controller/session_controller.go
Due: gofmt -w

Path conditions:
  gofmt -w: any of: *.go
  npx prettier -w: (any of: ui/**/*.{ts,tsx,js,css,html,json,md}) or (any of: *.{md,json,yml,yaml})
