Repository codespace-operator/codespace-operator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, npx prettier -w

chore(ci): disable lint
  .github/workflows/lint.yml
Due: npx prettier -w

refactor(repo): helm in its own repo
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/epic.yaml
  .github/ISSUE_TEMPLATE/story.yaml
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/release-config/release.crd.cjs
  .github/release-config/release.helm.cjs
  .github/release-config/release.operator.cjs
  .github/workflows/notify-helm-charts.yml
  .github/workflows/release-helm.yml
  .lintstagedrc.json
  commitlint.config.js
  helm/Chart.yaml
  helm/templates/NOTES.txt
  helm/templates/_helpers.tpl
  helm/templates/ingressclass.yaml
  helm/templates/role.yaml
  helm/templates/rolebinding.yaml
  helm/templates/server-deployment.yaml
  helm/templates/server-ingress.yaml
  helm/templates/server-ingressroute-openshift.yaml
  helm/templates/server-networkpolicy.yaml
  helm/templates/server-rbac.yaml
  helm/templates/server-secret.yaml
  helm/templates/server-service.yaml
  helm/templates/server-serviceaccount.yaml
  helm/templates/service.yaml
  helm/templates/serviceaccount.yaml
  helm/templates/servicemonitor.yaml
  helm/templates/session-controller-deployment.yaml
  helm/templates/session-controller-rbac.yaml
  helm/values.yaml
  internal/controller/deployment.go
  internal/controller/service.go
Due: gofmt -w, npx prettier -w

ci(repo): refactor release rules
  .github/release-config/release.crd.cjs
  .github/release-config/release.operator.cjs
  .github/workflows/notify-helm-charts.yml
  .github/workflows/release-operator.yml
  commitlint.config.js
  package-lock.json
  package.json
Due: npx prettier -w

ci(repo): try `GITHUB_TOKEN`
  .github/workflows/notify-helm-charts.yml
Due: npx prettier -w

docs(repo): cleanup references to helm
  .github/PULL_REQUEST_TEMPLATE/feature.md
  .github/labeler.yml
  .github/workflows/semantic-pr.yml
  CONTRIBUTING.md
  Makefile
  README.md
  UPGRADE.md
  hack/tests/deploy.sh
Due: npx prettier -w

chore(release): crd 1.0.0 [skip ci]
  CHANGELOG.crd.md
Due: npx prettier -w

Notes added by 'git notes add'
  c4c7f49d019b0331936656ef0420af515b0c8397
Due: none

docs(repo): corrected CRD release rules
  .github/labeler.yml
  .github/release-config/release.crd.cjs
  README.md
  hack/tests/kind.yaml
  misc/tests/config.sh
  misc/tests/demo-session.yaml
  misc/tests/deploy.sh
  misc/tests/kind.yaml
  misc/tests/setup.sh
  misc/tests/start-compose.sh
  misc/tests/teardown.sh
Due: npx prettier -w

Notes added by 'git notes add'
  0b67d8b15020633e9ba6f5ade272e009c9a1b69d
Due: none

fix(ci): filename missed
  .github/release-config/release.crd.cjs
Due: none

feat(server): implement RBAC
  cmd/server/codespace-server.go
  cmd/server/handlers.go
  cmd/server/rbac.go
  cmd/server/rbac_test.go
  go.mod
  go.sum
Due: gofmt -w

feat(rbac): implement OIDC
  cmd/config/config.go
  cmd/config/helpers.go
  cmd/server/auth.go
  cmd/server/auth_common.go
  cmd/server/auth_oidc.go
  cmd/server/auth_test.go
  cmd/server/codespace-server.go
  cmd/server/handlers.go
  cmd/server/helpers.go
  cmd/server/setup.go
  go.mod
  go.sum
Due: gofmt -w

fix(server): patch UI and config
  Makefile
  cmd/server/auth_oidc.go
  cmd/server/codespace-server.go
Due: gofmt -w

fix(server): patch UI and config
  .env.dist
  cmd/config/config.go
  cmd/server/auth_oidc.go
  cmd/server/codespace-server.go
  cmd/server/helpers.go
  cmd/server/setup.go
  config.yaml
  controller-config.yaml
  go.mod
  go.sum
  misc/tests/config.sh
  misc/tests/deploy.sh
  misc/tests/manifests/demo-session.yaml
  misc/tests/manifests/keycloak-values.yaml
  misc/tests/manifests/kind.yaml
  misc/tests/manifests/realm.json
  misc/tests/model.conf
  misc/tests/policy.csv
  misc/tests/setup.sh
  misc/tests/start-compose.sh
  server-config.yaml
  ui/src/api/client.ts
  ui/src/hooks/useAuth.ts
  ui/src/pages/LoginPage.tsx
Due: gofmt -w, npx prettier -w

chore(operator): add admin login by default
  server-config.yaml
Due: npx prettier -w

chore(test): easier passwords
  misc/tests/manifests/realm.json
Due: npx prettier -w

feat(server,operator): clearer names & rbac fetch
  cmd/server/handlers.go
  cmd/server/helpers.go
  cmd/server/rbac.go
  cmd/server/rbac_http.go
  cmd/server/setup.go
  commitlint.config.js
  ui/src/api/client.ts
  ui/src/api/rbac.ts
  ui/src/pages/UserInfo.tsx
Due: gofmt -w, npx prettier -w

fix(test): test values and scripts
  misc/tests/build.sh
  misc/tests/config.sh
  misc/tests/deploy.sh
  misc/tests/kind-network.sh
  misc/tests/manifests/realm.json
  misc/tests/setup.sh
  misc/tests/teardown.sh
Due: npx prettier -w

feat(server): introduce introspection
  ui/src/App.tsx
  ui/src/api/client.ts
  ui/src/api/rbac.ts
  ui/src/components/CreateSessionModal.tsx
  ui/src/components/Header.tsx
  ui/src/context/IntrospectionContext.tsx
  ui/src/hooks/useAuth.ts
  ui/src/hooks/useIntrospection.ts
  ui/src/hooks/useNamespaces.ts
  ui/src/hooks/useSessions.ts
  ui/src/lib/cap.ts
  ui/src/pages/InfoPage.tsx
  ui/src/pages/UserInfo.tsx
  ui/src/types.ts
Due: npx prettier -w

feat(server): backend introspection api
  .env.dist
  cmd/config/config.go
  cmd/server/auth_common.go
  cmd/server/auth_oidc.go
  cmd/server/codespace-server.go
  cmd/server/handlers.go
  cmd/server/helpers.go
  cmd/server/introspect_http.go
  cmd/server/logger.go
  cmd/server/rbac.go
  cmd/server/rbac_http.go
  cmd/server/setup.go
  internal/helpers/helpers.go
  server-config.yaml
Due: gofmt -w, npx prettier -w

fix(server): session page introspect
  ui/src/pages/SessionsPage.tsx
Due: npx prettier -w

fix(server): ui behaviors
  cmd/server/auth_common.go
  cmd/server/auth_oidc.go
  ui/src/App.tsx
  ui/src/components/Header.tsx
  ui/src/hooks/useAlerts.ts
  ui/src/pages/InfoPage.tsx
  ui/src/pages/SessionsPage.tsx
  ui/src/pages/UserInfo.tsx
  ui/src/theme.css
Due: gofmt -w, npx prettier -w

fix(server): login flow
  misc/tests/manifests/realm.json
  server-config.yaml
  ui/src/App.tsx
  ui/src/api/rbac.ts
  ui/src/hooks/useAuth.ts
Due: npx prettier -w

feat(server): backchannel logout
  .env.dist
  .github/workflows/notify-helm-charts.yml
  CONTRIBUTING.md
  cfg/controller-config.yaml
  cfg/rbac-casbin/model.conf
  cfg/rbac-casbin/policy.csv
  cfg/server-config.yaml
  cfg/server-users.yaml
  cmd/config/config.go
  cmd/server/auth_common.go
  cmd/server/auth_local.go
  cmd/server/auth_oidc.go
  cmd/server/codespace-server.go
  cmd/server/handlers.go
  cmd/server/setup.go
  cmd/session-controller/session-controller.go
  go.mod
  go.sum
  misc/tests/deploy.sh
  ui/src/components/SessionsTable.tsx
  ui/src/hooks/useSessions.ts
  ui/vite.config.ts
Due: gofmt -w, npx prettier -w

fix(test): casbin roles fix
  misc/tests/policy.csv
Due: none

feat(ui): simplified ui
  .github/release-config/release.crd.cjs
  .github/release-config/release.operator.cjs
  ui/src/App.tsx
  ui/src/hooks/useIntrospection.ts
  ui/src/pages/InfoPage.tsx
  ui/src/pages/LoginPage.tsx
  ui/src/pages/SessionsPage.tsx
  ui/src/pages/UserInfo.tsx
  ui/src/theme.css
Due: npx prettier -w

fix(ui,server): correct local login behavior
  cfg/server-config.yaml
  cmd/server/auth_oidc.go
  cmd/server/rbac_test.go
  misc/tests/config.sh
  misc/tests/deploy.sh
  ui/src/hooks/useAuth.ts
  ui/src/pages/LoginPage.tsx
  ui/src/theme.css
Due: gofmt -w, npx prettier -w

chore(ui): stub infos
  ui/src/pages/InfoPage.tsx
Due: npx prettier -w

fix(server): builds args
  .github/release-config/release.operator.cjs
  CONTRIBUTING.md
  README.md
Due: npx prettier -w

fix(server): bulds
  .github/release-config/release.operator.cjs
  CONTRIBUTING.md
  README.md
Due: npx prettier -w

fix(server): release builds (#48)
  .github/release-config/release.operator.cjs
  CONTRIBUTING.md
  README.md
Due: npx prettier -w

fix(server): trigger builds
  Dockerfile
  ui/Dockerfile
Due: none

refactor(server): introspect split
  Makefile
  cfg/rbac-casbin/model.conf
  cfg/rbac-casbin/policy.csv
  cmd/server/auth_common.go
  cmd/server/auth_oidc.go
  cmd/server/codespace_server.go
  cmd/server/handlers.go
  cmd/server/helpers.go
  cmd/server/introspect_http.go
  cmd/server/rbac.go
  cmd/server/rbac_handlers.go
  cmd/server/rbac_test.go
  cmd/server/sessions_handlers.go
  cmd/server/setup.go
  cmd/session-controller/session_controller.go
  misc/tests/model.conf
  misc/tests/policy.csv
  ui/src/App.tsx
  ui/src/api/client.ts
  ui/src/hooks/useAuth.ts
  ui/src/hooks/useIntrospection.ts
  ui/src/pages/SessionsPage.tsx
  ui/src/pages/UserInfo.tsx
  ui/src/test-utils/mock-Auth.ts
  ui/src/types.ts
Due: gofmt -w, npx prettier -w

fix(ui): use old UI
  cmd/server/helpers.go
  cmd/server/rbac_handlers.go
  ui/src/App.tsx
  ui/src/hooks/useNamespaces.ts
  ui/src/hooks/useSessions.ts
  ui/src/pages/UserInfo.tsx
  ui/vite.config.ts
Due: gofmt -w, npx prettier -w

feat(ui): restore design
  ui/src/pages/UserInfo.tsx
Due: npx prettier -w

fix(server): casbin default config
  cfg/rbac-casbin/model.conf
  cfg/rbac-casbin/policy.csv
Due: none

fix(ui): discover
  ui/src/App.tsx
  ui/src/api/client.ts
  ui/src/hooks/useIntrospection.ts
Due: npx prettier -w

Path conditions:
  gofmt -w: any of: *.go
  npx prettier -w: ((any of: helm/**/*.{yaml,yml}) or (any of: ui/**/*.{ts,tsx,js,css,html,json,md})) or (any of: *.{md,json,yml,yaml})
