Repository codespace-operator/codespace-operator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, npx prettier -w

.lintstagedrc.json:

{
  "*.go": "gofmt -w",
  "helm/**/*.{yaml,yml}": "npx prettier -w",
  "ui/**/*.{ts,tsx,js,css,html,json,md}": "npx prettier -w",
  "*.{md,json,yml,yaml}": "npx prettier -w"
}

feat(operator): allow local user mapping
  cfg/rbac-casbin/model.conf
  cfg/rbac-casbin/policy.csv
  cmd/server/auth_oidc.go
  cmd/server/helpers.go
  cmd/server/rbac.go
  cmd/server/rbac_test.go
  ui/src/api/client.ts
  ui/src/hooks/useIntrospection.ts
  ui/src/hooks/useSessions.ts
  ui/src/lib/cap.ts
  ui/src/main.tsx
  ui/src/pages/SessionsPage.tsx
  ui/src/pages/UserInfo.tsx
Due: gofmt -w, npx prettier -w

fix(ui): pass name explicitly
  ui/src/components/CreateSessionModal.tsx
  ui/src/hooks/useSessions.ts
Due: npx prettier -w

feat(server): swagger
  Makefile
  cmd/server/auth_oidc.go
  cmd/server/codespace_server.go
  cmd/server/openapi.go
  cmd/server/rbac_handlers.go
  cmd/server/sessions_handlers.go
  go.mod
  go.sum
  hack/generate-ts-types.go
Due: gofmt -w

fix(ui): better types
  ui/src/api-types.ts
  ui/src/api/client.ts
  ui/src/hooks/useAuth.ts
  ui/src/hooks/useIntrospection.ts
  ui/src/hooks/useNamespaces.ts
  ui/src/pages/LoginPage.tsx
  ui/src/pages/UserInfo.tsx
  ui/tsconfig.json
Due: npx prettier -w

chore(server): code-gen ts
  hack/generate-ts-types.go
  hack/openapi/generate_ts_types.go
Due: gofmt -w

chore(server): docs makefile
  Makefile
Due: none

refactor(server): use h handlers everywhere
  cmd/config/helpers.go
  cmd/server/auth_common.go
  cmd/server/auth_handlers.go
  cmd/server/auth_oidc.go
  cmd/server/auth_test.go
  cmd/server/codespace_server.go
  cmd/server/handlers.go
  cmd/server/helpers.go
  cmd/server/openapi.go
  cmd/server/rbac_handlers.go
  cmd/server/rbac_test.go
  cmd/server/sessions_handlers.go
  cmd/server/setup.go
  docs/docs.go
  docs/openapi.json
  docs/swagger.json
  docs/swagger.yaml
  hack/openapi/ts-gen-types.sh
  ui/src/types/api.d.ts
Due: gofmt -w, npx prettier -w

feat(server): openapi 2.0
  Makefile
  cmd/server/auth_handlers.go
  cmd/server/codespace_server.go
  cmd/server/handlers.go
  cmd/server/rbac.go
  cmd/server/rbac_handlers.go
  cmd/server/sessions_handlers.go
  cmd/server/setup.go
  docs/api/openapi.json
  docs/api/swagger.json
  docs/api/swagger.yaml
  docs/docs.go
  docs/openapi.json
  ui/package-lock.json
  ui/package.json
  ui/src/hooks/useSessions.ts
  ui/src/types/api.d.ts
  ui/src/types/api.gen.ts
  ui/tsconfig.json
Due: gofmt -w, npx prettier -w

refactor(server): ui code-gen fix
  Makefile
  cmd/server/rbac_handlers.go
  go.mod
  go.sum
  ui/package.json
  ui/src/types/api.gen.ts
Due: gofmt -w, npx prettier -w

refactor(server): use code-gen types
  ui/src/api-types.ts
  ui/src/api/client.ts
  ui/src/components/CreateSessionModal.tsx
  ui/src/components/Header.tsx
  ui/src/components/SessionsTable.tsx
  ui/src/hooks/useIntrospection.ts
  ui/src/hooks/useSessions.ts
  ui/src/pages/LoginPage.tsx
  ui/src/pages/SessionsPage.tsx
  ui/src/types.ts
  ui/vite.config.ts
Due: npx prettier -w

feat(server): unique instance listing
  cmd/config/helpers.go
  cmd/server/codespace_server.go
  cmd/server/handlers.go
  cmd/server/helpers.go
  cmd/server/rbac_handlers.go
  cmd/server/sessions_handlers.go
Due: gofmt -w

feat(server): implement cluster scope
  cfg/server-config.yaml
  cmd/config/config.go
  cmd/server/codespace_server.go
  cmd/server/helpers.go
  cmd/server/sessions_handlers.go
Due: gofmt -w, npx prettier -w

chore(test): local testing scripts
  Makefile
  cmd/config/config.go
  cmd/server/codespace_server.go
  cmd/server/rbac_handlers.go
  gen/api/openapi.json
  gen/api/swagger.json
  gen/api/swagger.yaml
  misc/tests/deploy.sh
  misc/tests/manifests/realm.json
  ui/package.json
  ui/src/types/api.gen.ts
Due: gofmt -w, npx prettier -w

chore(test): use API to create session
  misc/tests/create-session.sh
  misc/tests/deploy.sh
Due: none

chore(test): use API to create session
  misc/tests/config.sh
  misc/tests/setup.sh
Due: none

fix(server): instance id creation
  cmd/server/codespace_server.go
  cmd/server/helpers.go
  cmd/server/instance_id.go
Due: gofmt -w

test(ci): verify release
  .github/workflows/verify-release-on-pr.yml
Due: npx prettier -w

feat(server): better UI, instance-id introduced
  .eslintignore
  .github/PULL_REQUEST_TEMPLATE/pull_request_feature.md
  .prettierignore
  .trunk/trunk.yaml
  gen/api/openapi.json
  gen/api/swagger.json
  gen/api/swagger.yaml
  ui/src/App.tsx
  ui/src/components/Header.tsx
  ui/src/hooks/useNamespaces.ts
  ui/src/pages/ClusterSettingsPage.tsx
  ui/src/pages/InfoPage.tsx
  ui/src/pages/UserInfoPage.tsx
  ui/src/theme.css
  ui/src/types/api.gen.ts
Due: npx prettier -w

chore(repo): fix CRD job and node deps
  .github/workflows/verify-release-on-pr.yml
Due: npx prettier -w

feat(server): add manager label
  .github/workflows/verify-release-on-pr.yml
  cmd/server/codespace_server.go
  cmd/server/helpers.go
  cmd/server/instance_id.go
  cmd/server/sessions_handlers.go
  hack/openapi/generate_ts_types.go
Due: gofmt -w, npx prettier -w

chore(repo): split release jobs
  .github/workflows/verify-crd-pr.yml
  .github/workflows/verify-operator-pr.yml
  .github/workflows/verify-release-on-pr.yml
Due: npx prettier -w

feat(ui): managed by column
  cmd/server/rbac_handlers.go
  cmd/server/sessions_handlers.go
  cmd/server/setup.go
  gen/api/openapi.json
  gen/api/swagger.json
  gen/api/swagger.yaml
  ui/src/components/Header.tsx
  ui/src/components/SessionsTable.tsx
  ui/src/hooks/useSessions.ts
  ui/src/main.tsx
  ui/src/types.ts
  ui/src/types/api.gen.ts
Due: gofmt -w, npx prettier -w

fix(server): instance id regenreate
  cmd/server/helpers.go
  cmd/server/instance_id.go
  cmd/server/sessions_handlers.go
  ui/src/components/SessionsTable.tsx
  ui/src/pages/UserInfoPage.tsx
Due: gofmt -w, npx prettier -w

feat(ui): projects
  ui/src/App.tsx
  ui/src/api/client.ts
  ui/src/components/CreateProjectModal.tsx
  ui/src/components/ProjectDetailsModal.tsx
  ui/src/components/SessionsTable.tsx
  ui/src/context/IntrospectionContext.tsx
  ui/src/hooks/useIntrospection.ts
  ui/src/hooks/useSessions.ts
  ui/src/lib/cap.ts
  ui/src/pages/ProjectsPage.tsx
  ui/src/pages/SessionsPage.tsx
  ui/src/types/projects.ts
  ui/src/types/types.ts
Due: npx prettier -w

fix(repo): setup-node
  .github/workflows/verify-operator-pr.yml
Due: npx prettier -w

fix(repo): release verify build
  .github/workflows/verify-operator-pr.yml
Due: npx prettier -w

fix(server): metadata detect local and release verify build
  internal/common/anchor.go
  internal/common/common.go
  internal/common/metadata.go
  internal/server/instance_id.go
  internal/server/server.go
  internal/server/sessions_handlers.go
  misc/tests/build.sh
Due: gofmt -w

fix(server): fix ns string
  internal/common/anchor.go
  internal/server/instance_id.go
Due: gofmt -w

chore(test): fix scripts
  misc/tests/deploy.sh
Due: none

chore(repo): use vars for scopes
  .github/release-config/release.crd.cjs
  .github/release-config/release.operator.cjs
Due: none

feat(server): bootstrap login flag & minor test fixes
  cfg/rbac-casbin/model.conf
  cfg/rbac-casbin/policy.csv
  cfg/server-config.yaml
  cfg/server-users.yaml
  cmd/server/main.go
  internal/auth/auth_local.go
  internal/server/auth_handlers.go
  internal/server/config.go
  internal/server/server.go
Due: gofmt -w, npx prettier -w

feat(ui): grey out forbidden interaction
  ui/src/components/SessionsTable.tsx
  ui/src/pages/SessionsPage.tsx
Due: npx prettier -w

refactor(operator): env variables
  cmd/server/main.go
  internal/controller/deployment.go
  internal/controller/manifest.go
  internal/server/config.go
  internal/server/instance_id.go
  internal/server/server.go
  internal/server/sessions_handlers.go
  misc/tests/config.sh
  misc/tests/deploy.sh
Due: gofmt -w

fix(server): load local users path cli/cfg
  cmd/server/main.go
  internal/server/config.go
  misc/tests/config.sh
  misc/tests/deploy.sh
  misc/tests/teardown.sh
Due: gofmt -w

chore(test): keycloak move to setup.sh
  misc/tests/deploy.sh
  misc/tests/setup.sh
Due: none

fix(server): builds
  .github/release-config/release.operator.cjs
Due: none
