Repository codespace-operator/codespace-operator: changes, and which lint-staged commands are due for each by the changed paths.
All: gofmt -w, npx prettier -w

.lintstagedrc.json:

{
  "*.go": "gofmt -w",
  "helm/**/*.{yaml,yml}": "npx prettier -w",
  "ui/**/*.{ts,tsx,js,css,html,json,md}": "npx prettier -w",
  "*.{md,json,yml,yaml}": "npx prettier -w"
}

Notes added by 'git notes add'
  cb25b36788b3b97bdd0779d069648b2febb63198
Due: none

Notes added by 'git notes add'
  e8f664b048ea69bc96931132bac5d7119c9a5db3
Due: none

chore(repo): release scope change to allow releasing together
  .github/release-config/release.crd.cjs
  .github/release-config/release.operator.cjs
  .github/workflows/lint.yml
Due: npx prettier -w

chore(repo): release scope change to allow releasing together
  .github/release-config/release.crd.cjs
  .github/release-config/release.operator.cjs
  commitlint.config.js
Due: none

Notes added by 'git notes add'
  aac4f2267eb151a009ea67e284108168e16a0c04
Due: none

fix(operator,crds): fix release scope rules
  .github/release-config/release.crd.cjs
  .github/release-config/release.operator.cjs
  .github/release-config/utils.js
  .github/workflows/release-crd.yml
  .github/workflows/release-operator.yml
Due: npx prettier -w

fix(server): release builds
  .github/release-config/release.operator.cjs
Due: none

chore(release): operator 1.0.0 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

Notes added by 'git notes add'
  77737dd75a3134efc4fe6545e5a96e9c62c2857e
Due: none

fix(server): release builds fix
  .github/release-config/release.operator.cjs
  Makefile
Due: none

chore(release): operator 1.0.1 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

Notes added by 'git notes add'
  fd81215b3e6be43fc533b3cad16b60692718129c
Due: none

chore(release): operator 1.0.2 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

Notes added by 'git notes add'
  d270c99fd0ec99b9ae9dd6ff05a309379606b676
Due: none

feat(server): use `common` pkg
  .dockerignore
  .github/release-config/release.operator.cjs
  go.mod
  go.sum
  internal/auth/auth.go
  internal/auth/auth_helpers.go
  internal/auth/auth_local.go
  internal/auth/auth_oidc.go
  internal/auth/auth_provider.go
  internal/auth/auth_test.go
  internal/auth/auth_token.go
  internal/common/common.go
  internal/rbac/rbac.go
  internal/rbac/rbac_test.go
  internal/server/auth_handlers.go
  internal/server/handlers.go
  internal/server/helpers.go
  internal/server/rbac_handlers.go
  internal/server/server.go
  internal/server/sessions_handlers.go
Due: gofmt -w

feat(server): use latest packages
  cmd/server/main.go
  gen/api/openapi.json
  gen/api/swagger.json
  gen/api/swagger.yaml
  go.mod
  go.sum
  internal/common/anchor.go
  internal/common/common.go
  internal/common/http.go
  internal/common/info.go
  internal/common/logging.go
  internal/common/metadata.go
  internal/controller/config.go
  internal/server/auth_handlers.go
  internal/server/config.go
  internal/server/handlers.go
  internal/server/helpers.go
  internal/server/instance_id.go
  internal/server/rbac_handlers.go
  internal/server/server.go
  internal/server/sessions_handlers.go
  ui/src/types/api.gen.ts
Due: gofmt -w, npx prettier -w

feat(server): developer-mode for backend
  cfg/server-config.yaml
  cmd/server/main.go
  internal/server/auth_handlers.go
  internal/server/config.go
  internal/server/server.go
Due: gofmt -w, npx prettier -w

chore(repo): fix pushing buildcache
  Makefile
Due: none

chore(ui): better error messages
  ui/src/hooks/useAuth.ts
Due: npx prettier -w

chore(server): add test redirectUris
  misc/tests/manifests/realm.json
Due: npx prettier -w

feat(server): relying on cookies for authing
  cfg/server-config.yaml
  gen/api/openapi.json
  gen/api/swagger.json
  gen/api/swagger.yaml
  internal/server/auth_handlers.go
  misc/tests/create-session.sh
  ui/src/api/client.ts
  ui/src/hooks/useAuth.ts
  ui/src/pages/LoginPage.tsx
  ui/src/pages/UserInfoPage.tsx
  ui/src/types/api.gen.ts
Due: gofmt -w, npx prettier -w

test(server): setup LDAP test files
  cfg/server-config.yaml
  misc/tests/config.sh
  misc/tests/deploy-ldap.sh
  misc/tests/manifests/bootstrap.ldif
  misc/tests/manifests/openldap-values.yaml
  misc/tests/setup.sh
Due: npx prettier -w

fix(server): LDAP enable flag
  cfg/server-config.yaml
  cmd/server/main.go
  internal/server/config.go
  internal/server/server.go
  misc/tests/config.sh
  misc/tests/deploy-ldap.sh
  misc/tests/deploy.sh
  misc/tests/manifests/bootstrap.ldif
  misc/tests/manifests/openldap-values.yaml
Due: gofmt -w, npx prettier -w

chore(release): operator 1.1.0 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w

Notes added by 'git notes add'
  a3a46f50fd02ae05409e1effe82ff55a3fcb37a0
Due: none

docs(repo): Update README.md
  README.md
Due: npx prettier -w

docs(repo): not maintain changing block
  README.md
Due: npx prettier -w

chore(repo): move local-dev env to contrib
  README.md
  contrib/manifests/demo-session.yaml
  contrib/manifests/keycloak-values.yaml
  contrib/manifests/kind.yaml
  contrib/manifests/openldap-values.yaml
  contrib/manifests/realm.json
  contrib/scripts/build.sh
  contrib/scripts/config.sh
  contrib/scripts/create-session.sh
  contrib/scripts/deploy-ldap.sh
  contrib/scripts/deploy.sh
  contrib/scripts/kind-network.sh
  contrib/scripts/setup.sh
  contrib/scripts/teardown.sh
Due: npx prettier -w

chore(repo): duplicate make for local builds
  Makefile
Due: none

fix(server): missing LDAP params
  internal/server/config.go
Due: gofmt -w

fix(server): auth config
  cfg/auth.yaml
  cfg/server-config.yaml
  cmd/server/main.go
  go.mod
  go.sum
  internal/server/auth_handlers.go
  internal/server/config.go
  internal/server/handlers.go
  internal/server/server.go
Due: gofmt -w, npx prettier -w

fix(server): auth module fix
  go.mod
  go.sum
Due: none

chore(test): corrected test value
  cfg/auth.yaml
Due: npx prettier -w

chore(test): corrected test script
  contrib/scripts/deploy.sh
Due: none

fix(config)!: LDAP config injection (#55)
  Makefile
  README.md
  cfg/auth.yaml
  cfg/server-config.yaml
  cmd/server/main.go
  contrib/manifests/demo-session.yaml
  contrib/manifests/keycloak-values.yaml
  contrib/manifests/kind.yaml
  contrib/manifests/openldap-values.yaml
  contrib/manifests/realm.json
  contrib/scripts/build.sh
  contrib/scripts/config.sh
  contrib/scripts/create-session.sh
  contrib/scripts/deploy-ldap.sh
  contrib/scripts/deploy.sh
  contrib/scripts/kind-network.sh
  contrib/scripts/setup.sh
  contrib/scripts/teardown.sh
  go.mod
  go.sum
  internal/server/auth_handlers.go
  internal/server/config.go
  internal/server/handlers.go
  internal/server/server.go
Due: gofmt -w, npx prettier -w

chore(release): operator 2.0.0 [skip ci]
  changelogs/CHANGELOG.codespace.md
Due: npx prettier -w
